<style>
.form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
}
.form-group input {
  outline: none;
}

.back:before {
  content: "\2190";
}

.response.error {
  color: red;
}
.response.success {
  color: green;
}
</style>
<h1>Kenmare Admin</h1>
<form id="update-form">
  <input type="hidden" id="env-id" value="{{.Environment.ID}}" />
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" placeholder="name..." name="name" value="{{.Environment.Name}}" />
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" placeholder="description..." name="description" value="{{.Environment.Description}}" />
  </div>
  <div class="form-group">
    <label for="description">Developer</label>
    <input type="text" placeholder="developer..." name="developerID" value="{{.Environment.DeveloperID}}" />
  </div>
  <div class="form-group">
    <label for="ami">AMI</label>
    <input type="text" placeholder="ami..." name="ami" value="{{.Environment.AMI}}" />
  </div>
  <div class="form-group">
    <input type="submit" value="Update" />
    <span class="response"></span>
    <span class="success"></span>
  </div>
</form>
<a class="back" href="/admin/environments">Back</a>
<script>
var xhr = new XMLHttpRequest()
var updateFormEl = document.getElementById('update-form')
var responseEl = document.querySelector('.response')

updateFormEl.onsubmit = function(e) {
  e.preventDefault()

  xhr.abort()
  xhr.onload = function() {
    var response = JSON.parse(this.responseText)
    console.log(response)
    if (response.status == 'success') {
      responseEl.className = 'response success'
      responseEl.innerHTML = 'Success!'
    } else if (response.status == 'failed') {
      responseEl.className = 'response error'
      responseEl.innerHTML = 'Error: ' + response.error
    }
  }

  xhr.open('post', '/admin/environments/' + document.getElementById('env-id').value, true)
  xhr.setRequestHeader('Content-Type','application/json')
  xhr.send(JSON.stringify({
    name: document.querySelector('input[name="name"]').value,
    description: document.querySelector('input[name="description"]').value,
    developerID: document.querySelector('input[name="developerID"]').value,
    AMI: document.querySelector('input[name="ami"]').value
  }))
}
</script>
