<style>
input {
  outline: none;
}
.back:before {
  content: "\2190";
}
</style>
<h1>Kenmare Admin</h1>
<form id="search-form">
  <input type="text" placeholder="search..." id="search-query" />
  <input type="submit" value="search" />
</form>
<ul id="search-results">
</ul>
<a class="back" href="/admin">Back</a>
<script>
var xhr = new XMLHttpRequest()
var searchFormEl = document.getElementById('search-form')
var searchResultsEl = document.getElementById('search-results')
var searchInputEl = document.getElementById('search-query')

searchFormEl.onsubmit = function(e) {
  e.preventDefault()
  var query = searchInputEl.value == '' ? 'default' : searchInputEl.value
  searchEnvironments(query)
}

function searchEnvironments (query) {
  xhr.abort()
  xhr.onload = function() {
    searchResultsEl.innerHTML = ''
    var response = JSON.parse(this.responseText)
    if (response.status == 'found') {
      response.environments.forEach(function (env) {
        searchResultsEl.innerHTML += [
          '<li>',
            '<a href="/admin/environments/' + env.id + '">' + env.name + '</a>',
          '</li>'
        ].join('\n')
      })
    }
  }

  xhr.open("get", "/environments?query=" + query, true)
  xhr.send() 
}

searchEnvironments('default')
</script>
