Hi {{.Name}},<br /><br />

We see that you just removed an application. Unfortunately we were unable to terminate the instance associated with that application. This can be the result of an error on our end, issues with the AWS keys provided, or an issue with AWS EC2. This issue has been forwarded to our team and we're taking a look now.<br /><br />

In the interim, you can manually terminate the instance via the <a href="https://console.aws.amazon.com/console/home">AWS EC2 console.</a> Search for {{.InstanceID}} in the search bar.<br /><br />

Cheers,<br />
The Team at Bowery
