Hi there,<br /><br />

Your friend {{.FriendName}} is sharing their environment with you! Here's what they are sharing:<br /><br />
{{if .EnvName}}
<b>Name:</b> {{.EnvName}}<br />
{{end}}
{{if .EnvDesc}}
<b>Description:</b> {{.EnvDesc}}<br />
{{end}}
<br /><br />

To get going, open up the Bowery app, create a new application, and search for that environment.<br /><br />

Cheers,<br />
The Team at Bowery
